<app-navbar></app-navbar>
<div class="bg-dark text-light">
    <div class="container " style=" padding: 8%;">
        <h1>Flight Deck Simulators Solution</h1>
        <p>
          The Flight Deck Simulators solution is a platform for virtual pilots and airlines to collect and analyze data from their flights. With this solution, users can track their performance and compare it with others in the community, and perform complex data analytics to extract meaningful insights from their flight data.
        </p>
        <h2>Getting Started</h2>
        <ol>
          <li>Install X-Plane flight simulator on your computer.</li>
          <li>Download and install the Flight Deck Simulators application.</li>
          <li>Launch the Flight Deck Simulators application and connect it to your X-Plane flight simulator.</li>
          <li>Start flying in X-Plane and the Flight Deck Simulators application will collect real-time data from your flight.</li>
          <li>Use the user-friendly interface to view and analyze your flight data, and gain valuable insights into your performance.</li>
        </ol>
        <h2>Features</h2>
        <ol>
            <li>Download and extract the following repository into your python-plugins folder under X-Plane</li>
            <a href="https://github.com/erolgurcan/angular-flight-deck-frontend"> X-Plane Flight Deck Simulators Plugin </a>
          </ol>
        <ul>
          <li>Real-time data collection and analysis from X-Plane flight simulator.</li>
          <li>User-friendly interface for viewing and analyzing flight data.</li>
          <li>Integration with Microsoft SQL Server for data storage and retrieval.</li>
          <li>Scalable and reliable infrastructure hosted on Azure.</li>
        </ul>
        <h2>Future Releases</h2>
        <p>
          In future releases, the Flight Deck Simulators solution will provide more sophisticated data analytics and reporting capabilities, including the ability to track performance metrics, identify patterns and trends, and perform predictive analysis.
        </p>
        <h2>How it works</h2>
        <img src="../../assets/schema.png" style="max-width: 700px;"/>
      </div>
</div>

